{% extends 'carride/base.html' %}
	{% load staticfiles %}
	{% block title_block %}
		About
	{% endblock %}
	
{% block body_block %}

		<link rel="stylesheet" type="text/css" href="{% static "style/about.css" %}"/>

	<div style="text-align:center;">
		<hr>
		<div  class="text">
		<h1 style="text-align:center;"><u>About CarRide</u></h1> 
			<h2> With CarRide our aim was to create a car trading website <br> 
			where users can buy, rent, sell and lease their cars with ease.<br>
			Search for your favourite cars and compare them without hassle</h2><br><br>
			
			<h3>The developers of the website hope you enjoy your experience on CarRide.<br>
			We hope you find your dream car and drive away.</h3>
		</div>
			
		<hr>
		<h2 style="text-align:center;"> This Webapp has been put together by: </h2>
		
		<div class="col">		
			<h3 id = 'deni' style="text-align:center;">	Deni Nedjalkova <br/>
			<img src="{% static "images/deni.jpg" %}" id ='d_pic' alt="den" width="100" height="100" /></h3>
		</div>			
		<div class="col">
			<h3 id = 'sho' style="text-align:center;"> Shourya Verma<br/>
			<img src="{% static "images/sho.jpg" %}" id ='s_pic' alt="sho" width="100" height="100" /></h3>
		</div>
		<div class="row">					
			<h3 id='zander' style="text-align:center;">	Alexander Cowan<br/>
			<img src="{% static "images/zander.jpg" %}" id ='z_pic' alt="zander" width="100" height="100"/></h3>
		</div>
		<div class="row">					
			<h3 id = 'micc' style="text-align:center;">	Mihnea Maldaianu<br/>
			<img src="{% static "images/micc.jpg" %}" id='m_pic' alt="micc" width="100" height="100"/></h3>
		</div>	
		
		<strong>{{ boldmessage }}</strong>

	</div>
	


{% endblock %}