{% extends 'carride/base.html' %}
	{% load staticfiles %}
	{% block title_block %}
		About
	{% endblock %}
	
{% block body_block %}
	<div>
		<h1 style="text-align:center;">About Page</h1> 				
		<h2 style="text-align:center;"> This Webapp has been put together by: </h2>
		<h3 style="text-align:center;"> Shourya Verma<br/>
			 Deni Nedjalkova <br/>
			 Mihnea Maldaianu<br/>
			 Alexander Cowan<br/></h3>
			<strong>{{ boldmessage }}</strong><br />
	</div>
			<div>
			<a><img src="{% static "images/logo.jpg" %}" alt="CarRide" class="center"></a>
			</div>
{% endblock %}