<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="{% static "style/base.css" %}"/>
		<title>
			Carride -
			{% block title_block %}	<!--standard Django template command-->
				Trust. Quality. Price.
			{% endblock %}
		</title>
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		<div class="topnav">
			<a href="{% url 'home' %}"><img src="{% static "images/logo.jpg" %}" alt="CarRide" /></a>
			<span id="moto">WANT TO ESCAPE THE REALITY? GET A CAR AND DRIVE AWAY!</span>
			{% if user.is_authenticated %}
				<p><a href="{% url 'logout' %}">Logout</a></p>
				<p><a href="{% url 'myaccount' %}">MyAccount</a></p>
			{% else %}
				<p><a href="{% url 'login' %}">Sign In</a></p>
				<p><a href="{% url 'register' %}">Sign Up</a></p>
			{% endif %}
		</div>

		<div class="menu_list">
			<ul>
				<li><a href="{% url 'buy' %">BUY</a></li>
				<li><a href="{% url 'rent' %">RENT</a></li>
				<li><a href="{% url 'sell' %">SELL/LEASE</a></li>
				<li><a href="{% url 'compare' %">COMPARE</a></li>
			</ul>
		</div>

		<div class="content">
			{% block body_block %}
			{% endblock %}
		</div>
		<hr />

		<div class="footer">
			<p><a href="{% url 'about' %}">About</a></p>
		</div>
	</body>
</html>