<!DOCTYPE html>
{% load staticfiles %}
<script
src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js">
</script>

<script src="{% static "js/carride-jquery.js" %}"></script>

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static "style/base.css" %}"/>
		<title>
			Carride -
			{% block title_block %}
				Trust. Quality. Price.
			{% endblock %}
		</title>
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		<div class="topnav">
			<span><a href="{% url 'home' %}"><img src="{% static "images/car ride.png" %}" alt="CarRide" width="230" height="100" /></a></span>
			<span id="moto"> <h4> WANT TO ESCAPE THE REALITY? <br /> GET A CAR AND DRIVE AWAY! </h4> </span>
				<ul id="authentication">
					{% if user.is_authenticated %}
						<li><a href="{% url 'logout' %}">Logout</a></li>
						<li><a href="{% url 'myaccount' %}">My Account</a></li>
					{% else %}
						<li><a href="{% url 'login' %}">Sign In</a></li>
						<li><a href="{% url 'register' %}">Sign Up</a></li>
					{% endif %}
				</ul>
		</div>

		<div class="menu_list">
			<ul>
				<li><a href="{% url 'buy' %}">BUY</a></li>
				<li><a href="{% url 'rent' %}">RENT</a></li>
				<li id='sell_link'><a href="{% url 'sell' %}">SELL/LEASE</a></li>
				<li><a href="{% url 'compare' %}">COMPARE</a></li>
			</ul>
		</div>

		<div class="content">
			{% block body_block %}
			{% endblock %}
		</div>

		<div class="footer">
			<p><a href="{% url 'about' %}">About</a></p>
		</div>
	</body>
	

	
	<footer>
	
	</footer>
</html>