{% extends 'carride/base.html' %}
{% load staticfiles %}
{% load my_tags %}

{% block body_block %}
	
	<link rel="stylesheet" type="text/css" href="{% static "style/buyrent.css" %}"/>
	<hr>
	<div class="dropdown">
		<button class="dropbtn">Sort by:</button>
		<div class="dropdown-content">
		<a href="{% url 'buy' %}?sort=price-hl">Price: High to Low </a>
		<a href="{% url 'buy' %}?sort=price-lh">Price: Low to High </a>
		<a href="{% url 'buy' %}?sort=id-lh">Oldest Uploaded First </a>
		<a href="{% url 'buy' %}?sort=id-hl">Newest Uploaded First </a>
		<a href="{% url 'buy' %}?sort=rating">Rating</a>	
	</div>
	</div>
	<hr>
	
	{% if car_list %}

		{% for car in car_list %}
		
		<div class='postbox'>
			<a href="/carride/cardetails/{{car.slug}}/"><img src="{{ MEDIA_URL }}{{ car.picture }}" alt="CAR" height="220"/></a>
		</div>			
				<div class='bigbox'>
					<div class='desc'>
						<h2 style="text-align:center;"><u> Description </u></h2>
						<p> <b>Make:</b> {{ car.make }} <br><b>Model:</b> {{ car.model }} <br> 
						<b>Year:</b> {{ car.year }} <br> <b>Price:</b> £ {{ car.price }} <br> <b> ID: </b> {{car.ID}} </p>
					</div>
					<a href="/carride/cardetails/{{car.slug}}/"><div class="findmore"> FIND OUT MORE </div></a>
					<div class = "rating">
						<b>RATING: </b> {{ car.rating }}
					</div>
				</div>	
			<br><br>		
					
			<hr>
			
		{% endfor %}
		
	{% else %}
	<p> No cars available for sale. </p>
	{% endif %}
	
	<div class="pagination" style="text-align:center;">
	    <span class="step-links">
	        {% if car_list.has_previous %}
	            <a href="?{% param_replace %}&page=1"class="log-btn">&laquo; First</a>
	            <a href="?{% param_replace %}&page={{ car_list.previous_page_number }}"class="log-btn">Previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ car_list.number }} of {{ car_list.paginator.num_pages }}.
	        </span>

	        {% if car_list.has_next %}
	            <a href="?{% param_replace %}&page={{ car_list.next_page_number }}"class="log-btn">Next</a>
	            <a href="?{% param_replace %}&page={{ car_list.paginator.num_pages }}"class="log-btn">Last &raquo;</a>
	        {% endif %}
	    </span>
	</div>
{% endblock %}

