{% extends 'carride/base.html' %}
{% load staticfiles %}

{% block body_block %}
	<head>
		<link rel="stylesheet" type="text/css" href="{% static "style/cardetails.css" %}"/>
	</head>
	<hr />
	<div id="carimage">
		<img src="{{ MEDIA_URL }}{{chosen_car.picture}}" alt="pls show" height="300"/>
	</div>
	<div>
		<span id="spec">
			<h3>Model: {{ chosen_car.model }}</h3>
			<h3>Price: {{ chosen_car.price }}</h3>
			<h3>Year: {{ chosen_car.year }}</h3>
			<h3>New/old: {{ chosen_car.new }}</h3>
			<h3>Username: {{ chosen_car.username }}</h3>
			<h3>Phone number: {{ chosen_car.phoneNum }}</h3>
			<h3>Additional Info: {{ chosen_car.additionalInfo }}</h3>
		</span>
	</div>
{% endblock %}