{% extends 'carride/base.html' %}
{% load staticfiles %}

{% block body_block %}
<div class="content">
	<head>
		<link rel="stylesheet" type="text/css" href="{% static "style/cardetails.css" %}"/>
	</head>
	<hr />
	<div id="carimage">
		<img src="{{ MEDIA_URL }}{{chosen_car.picture}}" alt="CAR" height="200"/>
	</div>
	
	

		<div id="spec">
			<h3>ID: {{ chosen_car.ID }}</h3>
			<h3>Model: {{ chosen_car.model }}</h3>
			<h3>Price: {{ chosen_car.price }}</h3>
			<h3>Year: {{ chosen_car.year }}</h3>
			{% if chosen_car.new %}
				<h3>New/old: New</h3>
			{% else %}
				<h3>New/old: Old</h3>
			{% endif %}
			<h3>Name of the owner: {{ chosen_car.username }}</h3>
			<h3>Phone number: {{ chosen_car.phoneNum }}</h3>
			<h3>Additional Info: {{ chosen_car.additionalInfo }}</h3>
			
			
			{% for key, value in avgrate.items %}
			<h3 style="background-color:powderblue;">Average Rating: {{ value }}</h3>
			{% endfor %}
		</div>
		
		
		<div class="review">
			<h3><u>Please enter your review </u></h3>
			<form id="review_form" method="post" action="/carride/cardetails/{{chosen_car.slug}}/">
				{% csrf_token %}

				{% for field in form.visible_fields %}
					{{ field.errors }}
					{{ field.help_text }}
					{% if field.name == 'review' %}
						<label1>Review:</label1><br>
						<textarea name="review" placeholder="Review"></textarea><br>
					{% else %}
						<label2>Rating:</label2><br>
						<input name="rating" placeholder="Rating" type="number">
					{% endif %}
				{% endfor %}
				{% if user.is_authenticated %}
					<input type="submit" name="submit" value="Add review" />
				{% else %}
					<h3>You have to be signed in to leave a review</h3>
				{% endif %}
			</form>
		<br>
		
			<h3><u>Recent reviews: </u></h3>
			<div class="comments">
			<span class="all_reviews">
				{% if all_reviews %}
					{% for comment in all_reviews %}
						<h4>{{ comment.user }} rated it {{comment.rating}} says: {{ comment.review }}</h4>
					{% endfor %}
				{% endif %}
			</span>
			</div>
		</div>
</div>
{% endblock %}