{% extends 'carride/base.html' %}
{% load staticfiles %}

{% block body_block %}
<hr>
<link rel="stylesheet" type="text/css" href="{% static "style/home.css" %}"/>

	<div class = "codesc" style="text-align:center;">
		<h1 > <u>Why choose CarRide? </u></h1>
		<h3>CarRide is a trusted marketplace for consumers, retailers and manufacturers worldwide. <br>
		Sell, Lease, Buy, Rent and Compare different cars with ease through CarRide.</h3>	
	</div>
	
	<hr>
	
	<div class = "top" style="text-align:center;">
	<h1 id = "slide_title" class="button-top">Top Rated Cars</h1>	
	</div>
	
	<div id= "slide" class="slideshow-container">
	{% for car in top_cars %} 
		<div class="mySlides fade">
			<img src="{{ MEDIA_URL }}{{car.picture}}" alt={{car.model}} style="width:70%"/>
			<a href="/carride/cardetails/{{car.slug}}/" style='text-decoration:none'> <h2>{{car.make}}  {{car.model}}</h2></a>
		</div>
	{% endfor %}

	</div>
	
	<hr>
	
	<div class="codesc2" style="text-align:center;">
	<form method="post" action="{% url 'search' %}" enctype="multipart/form-data">
		{% csrf_token %}
		<h1 ><u>Search by Make</u><br></h1>
		<h4 >CASE SENSITIVE</h4><br>
			<div align="center"><font size="4">
			{% for field in form.visible_fields %}<br><br>
				{{ field.errors }}
				{{ field.help_text }}
				{{ field }}
			{% endfor %}
			</font>
			
			<input type="text" name="make" value="">
			<input type="submit" name="submit" value="Search" />
			</div>
	</form>
	<br>
	</div>
	<hr>
		
		<script>
			var slideIndex = 0;
			showSlides();

			function showSlides() {
			  var i;
			  var slides = document.getElementsByClassName("mySlides");
			  for (i = 0; i < slides.length; i++) {
				slides[i].style.display = "none"; 
			  }
			  slideIndex++;
			  if (slideIndex > slides.length) {slideIndex = 1} 
			  slides[slideIndex-1].style.display = "block"; 
			  setTimeout(showSlides, 5000); // Change image every 5 seconds
			}
		</script>
	
	
{%endblock%}
