{% extends 'carride/base.html' %}
{% load staticfiles %}
{% block title_block %}
	Login
{% endblock %}
{% block body_block %}

<link rel="stylesheet" type="text/css" href="{% static "style/login.css" %}"/>

<div class='reg' style="text-align:center;">
<h1><u>Login to CarRide</u></h1>
<form id="login_form" method="post" action="{% url 'login' %}">
		{% csrf_token %}
		Username: <input type="text" name="username" value="" size="50" />
		<br><br>
		Password: <input type="password" name="password" value="" size="50" />
		<br><br>
		<input type="submit" value="SUBMIT" class="log-btn" />		
</form>

<p><strong> -------OR------- </strong></p>
<a href = "{%url 'social:begin' 'google-oauth2' %}" class = "goog-btn"> <h2> Login with <div style="height:10px"><br></div>
<img src="{% static "images/google.jpeg" %}" id='g_pic' alt="google" width="25" height="25"/> </h2>  </a>

</div>
{% endblock %}