{% extends 'carride/base.html' %}
{% load staticfiles %}
{% block title_block %}
	Login
{% endblock %}
{% block body_block %}

<link rel="stylesheet" type="text/css" href="{% static "style/login.css" %}"/>

<div class='reg' style="text-align:center;">
<h1><u>Login to CarRide</u></h1>
<form id="login_form" method="post" action="{% url 'login' %}">
	{% csrf_token %}
	Username: <input type="text" name="username" value="" size="50" />
	<br><br>
	Password: <input type="password" name="password" value="" size="50" />
	<br><br>
	<input type="submit" value="submit" />
</form>
</div>
{% endblock %}