{% extends 'carride/base.html' %}
{% load staticfiles %}

{% block body_block %}
<link rel="stylesheet" type="text/css" href="{% static "style/myaccount.css" %}"/>


	<div class="details" style="text-align:center;">
	{% if picture %}
		<h3><img src="{{ MEDIA_URL }}{{ picture }}" alt="profilepic" height="100" /></h3>
	{% endif %}
	{% if default %}
		<h2><img src="{% static "images/default.jpeg" %}" alt="defaultpic" height="100" /></h2>
	{% endif %}
		<h3>Username: {{ user.username }}</h3>
		<h3>Email ID: {{ user.email }}</h3>
		<h3>My Posts: {{ user.posts }}</h3>
	</div>
{% endblock %}