{% extends 'carride/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Register
{% endblock %}

{% block body_block %}

<link rel="stylesheet" type="text/css" href="{% static "style/register.css" %}"/>


	<div class='reg' style="text-align:center;">
		<h1><u>Register for CarRide</u></h1><br><br>
		{% if registered %}
			<strong  style="text-align:center;">Thank you for registering!</strong>
			<a href="{% url 'login' %}">Go to Login</a><br />
		{% else %}
			<form id="user_form" method="post" action="{% url 'register' %}"
				enctype="multipart/form-data">

			{% csrf_token %}

			<!-- Display each form -->
			{{ user_form.as_p }}
			{{ profile_form.as_p }}

			<!-- Provide a button to click to submit the form. -->
			<input type="submit" name="submit" value="Register" class="log-btn" />
			</form>
	{% endif %}
	</div>
{% endblock %}