 /* Three image containers (use 25% for four, and 50% for two, etc) */
.col {
  float: left;
  display:inline-blocks;
  padding: 60px;
}

.text{
  border-radius:20px;
  width:600px;
  border: 5px solid #659DBD;
  background-color: #C4D1E3;
  margin: auto;
  padding: 10px;
}

.row {
  float: right;
  display:inline-blocks;
  padding: 60px;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-style: none;
  border-width: 10px;
  height: 10px;
  background-color: #659DBD;
  position: relative;
}