* {
  font-family: Fabriga Regular, Helvetica, sans-serif;
}

body {
  font-family: Agency FB, Helvetica, sans-serif;
  background-image: url("BGimage.jpg");
  border-left: 150px solid #999;
  border-right: 150px solid #999;
  border-image: url("BGimage.jpg");
  overflow: scroll;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #C4D1E3;
  padding: 5px;
  position: relative;
  height: 100px;
}

#moto{
  font-size: 17pt;
  width: 400px;
  text-align: center;
  padding: 10px;
  position: absolute;
  top: 15px;
}

#authentication {
  font-size: 15pt;
  position: absolute;
  top: 5px;
  right: 50px;
  list-style-type: none;
}
/* Style the topnav links */

/* Change color on hover */
.topnav a:hover {
  background-color: #DDD;
}

.menu_list {
  background-color: #DAE8FC;
  padding: 1px;
  position: relative;
}

.menu_list ul {
  list-style-type: none;
  text-align: center;
}

.menu_list ul li {
  font-size: 15pt;
  display: inline;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: underline;
}

/* Style the content */
.content {
  background-color: #F5F5F5;
  overflow: hidden;
  position: relative;
}

/* Style the footer */
.footer {
  background-color: #C4D1E3;
  font-size: 20pt;
  text-align: center;
  clear: both;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}