* {
  font-family: Agency FB, Helvetica, sans-serif;
}

body {
  font-family: Agency FB, Helvetica, sans-serif;
  background-image: url("BGimage.jpg");
  border-left: 150px solid #999;
  border-right: 150px solid #999;
  border-image: url("BGimage.jpg");
  overflow: auto;
}

/* Style the top navigation bar */
.topnav {
  border:5px solid #659DBD;
  overflow: hidden;
  background-color: #C4D1E3;
  padding: 5px;
  position: relative;
  height: 100px;
}

#moto{
  font-size: 16pt;
  width: 450px;
  text-align: center;
  padding: 10px;
  position: absolute;
  top: -10px;
}

#authentication {
  font-size: 15pt;
  position: absolute;
  top: 5px;
  right: 50px;
  list-style-type: none;
}
/* Style the topnav links */

/* Change color on hover */
.topnav a:hover {
  background-color: #DDD;
}

.menu_list {
  background-color: #DAE8FC;
  padding: 1px;
  position: relative;
}
	
.menu_list ul {
  list-style-type: none;
  text-align: center;
}

.menu_list ul li {
  font-size: 15pt;
  display: inline;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: underline;
  border_radius: 12px;
  
  
}

.button {
  background-color: white; 
  color: white;
  padding: 10px 18px;
  text-align: center;
  
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius: 8px;
  color: black;
  border:2px solid #008CBA;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover {
  background-color: #008CBA;
  color: white;
}
.button:active {
  background-color: #008CBA;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button-top {
  background-color: white; 
  justify-content: centre;
  color: white;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
  font-size: 24px;
  border-radius: 8px;
  color: black;
  border:2px solid #008CBA;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button-top:hover {
  background-color: #008CBA;
  color: white;
}
.button-top:active {
  background-color: #008CBA;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.log-btn {
  background-color: white; 
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 6px;
  color: black;
  border:2px solid #008CBA;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.log-btn:hover {
  background-color: #008CBA;
  color: white;
}
.log-btn:active {
  background-color: #008CBA;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.goog-btn {
  background-color: white; 
  color: white;
  padding: 0px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 6px;
  color: black;
  border:2px solid #008CBA;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.goog-btn:hover {
  background-color: #008CBA;
  color: white;
}
.goog-btn:active {
  background-color: #008CBA;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* Style the content */
.content {
  background-color: #F5F5F5;
  overflow: hidden;
  position: relative;
}
/* Style the content */
.content {
  background-color: #F5F5F5;
  overflow: hidden;
  position: relative;
}

/* Style the footer */
.footer {
  background-color: #C4D1E3;
  font-size: 20pt;
  text-align: center;
  clear: both;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}