
.postbox{
  width: 100px;
  padding: 10px;
  margin: 10px;
  height: 320px;
  position: relative;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-style: none;
  border-width: 10px;
  height: 10px;
  background-color: #659DBD;
  position: relative;
}

.desc{
  border-radius:20px;
  width: 250px;
  border: 5px solid #659DBD;
  background-color: #C4D1E3;
  padding: 10px;
  margin: auto;
  position: relative;
  left: 500px;
  bottom: 200px;
}

p{
 font-size: 20px;
}

.findmore {
  text-align: center;
  border-radius:20px;
  width: 100px;
  border: 5px solid #659DBD;
  background-color: #C4D1E3;
  padding: 10px;
  margin: auto;
  position: relative;
  left: 650px;
  bottom: 180px;
}

.pagination {
  color: black;
  float: center;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #C4D1E3;
  border-radius: 5px;
}

