.postbox{
  display:inline-block;
  width: 100px;
  height: 300px;
  position: relative;
  left:20px;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-style: none;
  border-width: 10px;
  height: 10px;
  background-color: #659DBD;
  position: relative;
}

img{
  max-height: 300px;
  max-width: 600px;
}

.desc{
  border-radius:20px;
  width: 250px;
  border: 5px solid #659DBD;
  background-color: #C4D1E3;
  padding: 10px;
  margin: auto;
  position: relative;
}

.bigbox{
  width:50%;
  height:320px;
  margin:auto;
  float:right;
}

p{
 font-size: 20px;
}

.findmore {
  text-align: center;
  border-radius:20px;
  width: 100px;
  border: 5px solid #659DBD;
  background-color: #DAE8FC;
  padding: 10px;
  margin: auto;
  position: relative;
  left:75px;
  bottom:-9.5px;
}

.rating {
  text-align: center;
  border-radius:20px;
  width: 100px;
  border: 5px solid #659DBD;
  background-color: #DAE8FC;
  padding: 10px;
  margin: auto;
  position: relative;
  left:-75px;
  bottom:40px;
}
.dropbtn {
    background-color: white; 
  color: white;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius: 8px;
  color: black;
  border:2px solid #008CBA;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
}

.dropdown {
	
	padding: 15px;
  text-align:centre;
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
 background-color: #008CBA;
  color: white;
}

.pagination {
  color: black;
  float: center;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #C4D1E3;
  border-radius: 5px;
}