.text{
  border-radius:20px;
  width:800px;
  border: 5px solid #659DBD;
  background-color: #C4D1E3;
  margin: auto;
  padding: 10px;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-style: none;
  border-width: 10px;
  height: 10px;
  background-color: #659DBD;
  position: relative;
}

#block {
  vertical-align: 
}

#car1 {
  display: inline-block;
  width: 40%;
}

#car1 h3{
  position: relative;
  left: 150px;
  top: 10px;
  width: 70%;
  border: solid #999;
}

#carimage1 {
  float: left;
  position: relative;
  left: 110px;
  vertical-align: text-bottom;
}

#carimage2 {
  float: right;
  position: relative;
  left: 40px;
  vertical-align: text-bottom;
}
