.text{
  border-radius:20px;
  width:800px;
  border: 5px solid #659DBD;
  background-color: #C4D1E3;
  margin: auto;
  padding: 10px;
}

.compare_form{
  border-radius:20px;
  width:400px;
  border: 5px solid #659DBD;
  background-color: #C4D1E3;
  margin: auto;
  padding: 10px;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-style: none;
  border-width: 10px;
  height: 10px;
  background-color: #659DBD;
  position: relative;
}

.block1 {
  vertical-align: 
}

.car1 {
  float:left;
  display: inline-block;
  width: 38%;
  left: 150px;
}

.car1 h3{
  position: relative;
  left: 150px;
  top: 10px;
  width: 70%;
  border: solid #999;
}

.car1 h2{
  position: relative;
  left: 150px;
  top: 10px;
  width: 70%;
}

.car2 {
  float:right;
  display: inline-block;
  width: 38%;
  left: 50px;
}

.car2 h3{
  position: relative;
  top: 10px;
  width: 70%;
  border: solid #999;
}

.car2 h2{
  position: relative;
  top: 10px;
  width: 70%;
}

.carimage1 {
  float: left;
  position: relative;
  left: 100px;
  vertical-align: text-bottom;
}

.carimage2 {
  float: right;
  position: relative;
  right: 100px;
  vertical-align: text-bottom;
}
